<footer id="footer" class="row">
	<article class="small-12 column small callout">
		<div class="row">
			<section class="small-12 medium-3 columns">
				{% include law.html lang = page.lang %}
			</section>
			<section class="small-12 medium-3 columns">
				<!-- {% include events.html lang = page.lang %} -->
			</section>
			<section class="small-12 medium-3 columns">
				{% include github.html lang = page.lang %}
			</section>
			<section class="small-12 medium-3 columns">
				{% include social-media.html %}
			</section>
		</div>
	</article>
</footer>