{% if include.lang == 'en' %}
	<h2>Github</h2>
	<ul class="no-bullet">
		<li>
			Searching for the <a href="https://github.com/MarauderXtreme/leon" target="_blank">Source Code</a>?
		</li>
		<li>
			Found a bug or a Typo?
		</li>
		<li>
			<a href="https://github.com/MarauderXtreme/leon/issues/new" target="_blank">Tell me!</a>
		</li>
	</ul>
{% else %}
	<h2>Github</h2>
	<ul class="no-bullet">
		<li>
			Suchst Du den <a href="https://github.com/MarauderXtreme/leon" target="_blank">Source Code</a>
		</li>
		<li>
			Hast Du einen Bug oder Schreibfehler gefunden?
		</li>
		<li>
			<a href="https://github.com/MarauderXtreme/leon/issues/new" target="_blank">Sag es mir!</a>
		</li>
	</ul>
{% endif %}