<h2>
	Social Media
</h2>
<a href="https://www.facebook.com/LeonBrajeMusik" target="_blank" class="social-media facebook">
	{% include icons/facebook.html %}
</a>
<a href="https://www.youtube.com/" target="_blank" class="social-media youtube">
	{% include icons/youtube.html %}
</a>
<a href="https://www.instagram.com/leonbraje" target="_blank" class="social-media instagram">
	{% include icons/instagram.html %}
</a>
<!-- <a href="https://www.soundcloud.com/" target="_blank" class="social-media soundcloud">
	{% include icons/soundcloud.html %}
</a> -->
<a href="{{ site.baseurl }}/feed.rss" target="_blank" class="social-media rss">
	{% include icons/rss.html %}
</a>