/**
 * Place for site specific settings
 */

body {
	//This should bring the off-canvas to one color
	background: $offcanvas-background;
}

/**
 * Social Media
 */
.social-media svg {
	width: 2rem;
}

$facebook: #3B5998;
$youtube: #CD201F;
$instagram: #E4405F;
$soundcloud: #FF3300;
$rss: #FFA500;
$darken-hover: 5%;

.facebook {
	svg path {
		fill: $facebook;
	}
	&:hover {	
		svg path {
			fill: darken($facebook,$darken-hover);
		}
	}
}

.youtube {
	svg path {
		fill: $youtube;
	}
	&:hover {	
		svg path {
			fill: darken($youtube,$darken-hover);
		}
	}
}

.instagram {
	svg path {
		fill: $instagram;
	}
	&:hover {	
		svg path {
			fill: darken($instagram,$darken-hover);
		}
	}
}

.soundcloud {
	svg path {
		fill: $soundcloud;
	}
	&:hover {	
		svg path {
			fill: darken($soundcloud,$darken-hover);
		}
	}
}

.rss {
	svg path {
		fill: $rss;
	}
	&:hover {	
		svg path {
			fill: darken($rss,$darken-hover);
		}
	}
}

/**
 *   Styles for the Skip link
 */
.element-invisible {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;

	&.element-focusable:active,
	&.element-focusable:focus {
		clip: auto;
		height: auto;
		overflow: visible;
		position: static !important;

	}
}

/**
 *   Language switcher
 */
.language-switcher {

	.language-list {
		list-style: none;
		margin-left: 0;

		li {
			margin-left: 1.375rem;

			&:first-of-type {
				margin-left: 0;
			}
		}
	}
	img.language-icon {
		filter: url("#{$baseurl}/css/img/desaturate.svg#greyscale");
		margin-top: -0.2rem;

	}
	.language-link {
		text-decoration: none;

		&.active {
			cursor: default;
			pointer-events: none;

		}
		&.active,
		&:hover,
		&:focus {

			img.language-icon {
				filter: none;

			}
		}
	}
}

/**
 * Sticky Nav
 */
header .sticky.title-bar {
	position: fixed;
	top: 0;
	// Over 9000
	z-index: 9001;
}

.sticky.title-bar,
.sticky.top-bar {
	width: 100%;

}
.sticky-container {
	&.column,
	&.columns {
		padding-left: 0;
		padding-right: 0;	
	}
}

/**
 * Slick Slider Tweaks
 */

$arrow-size: 40px;
$arrow-transition: 0.5s ease;

.slick-slider {

	.slick-prev,
	.slick-next {
		width: $arrow-size;
		height: $arrow-size;
		z-index: -42;
		-webkit-transition: $arrow-transition;
		transition: $arrow-transition;

		&:before {
			font-size: $arrow-size;
			color: $primary-color;
		}
	}

	.slick-prev {
		left: -$arrow-size;
	}

	.slick-next {
		right: -$arrow-size;
	}

	&:hover {
		.slick-prev,
		.slick-next {
			z-index: 42;
		}

		.slick-prev {
			left: 0;
		}
		.slick-next {
			right: 0;
		}
	}

}
