/**
 * Place for site specific settings
 */

@mixin custom-background() {
	background-color: #9fdd96;
	@include filter-gradient(#9fdd96, #c5e5bc, vertical);
	@include background-image(linear-gradient(top, #9fdd96 0%,#8dcc82 9%,#5acc49 31%,#60cc4f 51%,#5acc49 52%,#57cc45 76%,#7acc6e 90%,#75cc68 100%,#c5e5bc 100%));
}

body,
.off-canvas-content,
.off-canvas-content{
	background: #9fdd96;
	background: -moz-linear-gradient(top, #9fdd96 0%, #8dcc82 9%, #5acc49 31%, #60cc4f 51%, #5acc49 52%, #57cc45 76%, #7acc6e 90%, #75cc68 100%, #c5e5bc 100%);
	background: -webkit-linear-gradient(top, #9fdd96 0%,#8dcc82 9%,#5acc49 31%,#60cc4f 51%,#5acc49 52%,#57cc45 76%,#7acc6e 90%,#75cc68 100%,#c5e5bc 100%);
	background: linear-gradient(to bottom, #9fdd96 0%,#8dcc82 9%,#5acc49 31%,#60cc4f 51%,#5acc49 52%,#57cc45 76%,#7acc6e 90%,#75cc68 100%,#c5e5bc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fdd96', endColorstr='#c5e5bc',GradientType=0 );	
}

footer#footer,
.top-bar {
	background: #ba3d54;
	background: -moz-linear-gradient(top, #ba3d54 0%, #af0821 36%, #af0821 68%, #af3146 100%);
	background: -webkit-linear-gradient(top, #ba3d54 0%,#af0821 36%,#af0821 68%,#af3146 100%);
	background: linear-gradient(to bottom, #ba3d54 0%,#af0821 36%,#af0821 68%,#af3146 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba3d54', endColorstr='#af3146',GradientType=0 );
}

/**
 * Social Media
 */
.social-media svg {
	width: 2rem;
}

.facebook {
	svg path {
		fill: #3B5998;
	}
}

.youtube {
	svg path {
		fill: #CD201F;
	}
}

.instagram {
	svg path {
		fill: #E4405F;
	}
}

.soundcloud {
	svg path {
		fill: #FF3300;
	}
}

.rss {
	svg path {
		fill: #FFA500;
	}
}

/**
 *   Styles for the Skip link
 */
.element-invisible {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;

	&.element-focusable:active,
	&.element-focusable:focus {
		clip: auto;
		height: auto;
		overflow: visible;
		position: static !important;

	}
}

/**
 *   Language switcher
 */
.language-switcher {

	.language-list {
		list-style: none;
		margin-left: 0;

		li {
			margin-left: 1.375rem;

			&:first-of-type {
				margin-left: 0;
			}
		}
	}
	img.language-icon {
		filter: url("#{$baseurl}/css/img/desaturate.svg#greyscale");
		margin-top: -0.2rem;

	}
	.language-link {
		text-decoration: none;

		&.active {
			cursor: default;
			pointer-events: none;

		}
		&.active,
		&:hover,
		&:focus {

			img.language-icon {
				filter: none;

			}
		}
	}
}

/**
 * Sticky Nav
 */
header .sticky.title-bar {
	position: fixed;
	top: 0;
	// Over 9000
	z-index: 9001;
}

.sticky.title-bar,
.sticky.top-bar {
	width: 100%;

}
.sticky-container {
	&.column,
	&.columns {
		padding-left: 0;
		padding-right: 0;	
	}
}